body {
    background: linear-gradient(90deg, rgba(29,11,71,1) 17%, rgba(69,6,117,1) 40%, rgba(115,67,16,1) 70%);
}
    * {
      box-sizing: border-box;
    }
    
  .column {
    float: left;
    width: 25%;
    padding: 20px;
  }

  .row::after {
    display: flex;
     content: "";
     clear: both;
     display: table;
  }
  .zoom:hover {
    -ms-transform: scale(0.5); 
    -webkit-transform: scale(0.5); 
    transform: scale(1.05); 
}  